@(title: String, items: Int, user: com.amazing.store.models.User)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/foundation.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/vendor/jquery.js")" ></script>
    </head>
    <body>
        <div class="row">
            <div class="large-12 columns">

                    <!--MENU -->
                <div class="row">
                    <div class="large-12 columns">
                        <nav class="top-bar" data-topbar>
                            <ul class="title-area">
                                <li class="name">
                                    <h1><a href="@routes.Application.index">Amazing Store Cart</a></h1>
                                </li>
                                <li class="toggle-topbar menu-icon">
                                    <a href="#"><span>menu</span></a>
                                </li>
                            </ul>
                            <section class="top-bar-section">
                                <ul class="right">
                                    <li>
                                        <a href="#">Hello @user.name</a>
                                    </li>
                                    <li>
                                        <a href="#">@items items in cart</a>
                                    </li>
                                    <li>
                                        <a href="@routes.Application.history">Your history</a>
                                    </li>
                                    <li>
                                        <a href="@config.Env.frontendLink">Back to the store</a>
                                    </li>
                                </ul>
                            </section>
                        </nav>
                    </div>
                </div>

                @content

                <footer class="row">
                    <div class="large-12 columns">
                        <hr>
                        <div class="row">
                            <div class="large-6 columns">
                                <p>© Copyright The Amazing Store.</p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
