@(where: String, retry: Int)

<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <script src="@routes.Assets.at("javascripts/vendor/jquery.js")" ></script>
        <title>Retry in ...</title>
    </head>
    <body>
        <div>Cluster service abnormally down, retry in 2 seconds ...</div>
        <script type="text/javascript">
            $(function() {
                setTimeout(function() {
                    window.location.href = "@where";
                }, 2000);
            });
        </script>
    </body>
</html>