@import com.amazing.store.models.User

@(user: Option[User])

@main("Logged out of the Amazing Store", user, None) {

    <div class="row" style="margin-top: 30px">
        <div class="small-12">
            <div class="row">
                <div class="small-5 columns">&nbsp;</div>
                <div class="small-2 columns">You're logged out</div>
                <div class="small-5 columns"></div>
            </div>
            <div class="row">
                <div class="small-5 columns">&nbsp;</div>
                <div class="small-2 columns">See you soon !</div>
                <div class="small-5 columns"></div>
            </div>
            <div class="row" style="margin-top: 30px">
                <div class="small-5 columns">&nbsp;</div>
                <a class="button small-2" href="@routes.Application.index()">Log in again</a>
                <div class="small-5 columns"></div>
            </div>
        </div>
    </div>



}
